<div>
    <h2>Minhas Partidas</h2>
    {{#each minhasPartidas}}
        <a href="/partida/{{id}}">{{id}}</a>
    {{/each}}
    <br>
    <h2>Usuários aguardando oponentes</h2>
    {{#each aguardando}}
        <a href="/partida/{{id}}">{{id}}</a>
    {{/each}}
</div>
